body {
  font-family: sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  margin-bottom: 15px;
}

#taskInput {
  flex: 1;
  padding: 8px;
  border: 2px solid #4caf50;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 14px;
}

#addBtn {
  padding: 8px 15px;
  border: 2px solid #4caf50;
  border-left: none;
  background: #4caf50;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  margin-left: -1px;
}

#addBtn:hover {
  background: #45a049;
}

#taskList {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.task.completed .task-text {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-text {
  cursor: pointer;
  flex: 1;
}

button.delete-btn {
  background: #ff4d4d;
}

button.delete-btn:hover {
  background: #e60000;
}

.done-btn,
button.delete-btn {
  border: none;
  color: white;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.done-btn {
  background: #54a758;
  margin-left: 5px;
}

.done-btn:hover {
  background: #45a049;
}
